<!doctype html>
html lang="en"
  head
    meta charset="utf-8"
    title -- Metadata
    link rel="stylesheet" href="${assets.hrefTo('stylesheets/index.css')}"
  body
    #app
    script src="${assets.hrefTo('javascripts/app.js')}"
