// Variables copied from Overview (even their names)
$font-family-sans-serif: "Open Sans", Helvetica, Arial, sans-serif;
$text-color: #0d1223;
$text-muted: #918f90;
$link-color: #50ade5;
$link-hover-color: #6ab9e9;

html, body {
  margin: 0;
  padding: 0;
  font-family: $font-family-sans-serif;
  color: $text-color;
}

a {
  color: $link-color;
  text-decoration: none;
  &:hover {
    color: $link-hover-color;
    text-decoration: underline;
  }
}

@import './view.scss'
